.colored-nav{
    background-color: #c9ada7;
    color: rgb(4, 4, 5);
}

h1{
    text-align: center;
    
}

.newfont{

    font-family: "Prat", serif;
    font-weight: 400;
   font-style: normal;

}

.newfont-intro{

    font-family: "Prat", serif;
    font-weight: 400;
   font-style: normal;
   font-size: 20px;
   align-content: center;

}

.navbar-nav{

    font-family: "Prat", serif;
    font-weight: 800;
   font-style: normal;

}

.navbar-brand{
    font-family: "Prat", serif;
    font-weight: 1000;
   font-style: normal;
}

img{
    border: 15px solid #22223b;  
    
}

.center-photo{
    text-align: center;
}
.under-nav{
    background-color: #f2e9e4;
    
}
.under2{
    background-color: #f2e9e4;
    
}

.carousel-inner{
    background-color: #f2e9e4;
    min-height: 100vh;
    display: flex;
    
}

.page-slide{
    padding: 30px;
}

.btn{
    margin-top: 10px;
    
}
    

 
