

h1 { text-align: center; 
color:lightpink

}

address{text-align: center;}
h2{text-align: center;}

.tabs{
    display: flex;
    background-color: #8df3fc;
    overflow: hidden;
}


.tabs.tab{
    padding: 14px 20px;
    cursor: pointer;
    color: white;
    text-align: center;
    flex: 1;
    border: none;
    outline: none;
    background-color: #f496d1;
    transition: background-color 0.3s;
}

.tabs.tab:hover{

    background-color: blueviolet;

}

.tabs.tab.active{
    background-color: darkorchid;
}


.tab-page{
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}


.tab-page.active{
    display:block;
}